::ng-deep {
  .mdc-list-item{
    padding: 0 !important;
  }
  .mat-mdc-menu-content {
    // width: 500px !important;
    padding: 0 !important;
    overflow: hidden !important;
  }
  .cdk-overlay-pane {
    max-width: none !important;
    max-height: none !important;
    // width: 500px !important;
  }
  .mat-mdc-menu-panel{
    max-width: none !important;
  }
  .list-item{
    height: 100% !important;
    .mat-mdc-list-item-unscoped-content{
      display: flex;
      flex-direction: column;
    }
    .mat-expansion-panel-body{
      display: flex;
      flex-direction: column;
    }
    .mat-expansion-indicator{
      display: none !important;
    }
    .expansion-panel{
      background: unset;
      width: 100%;
      box-shadow: unset !important;
    }
    .panel-header{
      padding: 0 !important;
      font-size: 1.5rem/* 24px */ !important;
      line-height: 2rem/* 32px */ !important;
      color: white;
      max-height: 48px;
    }

    .panel-header:hover{
      --tw-bg-opacity: 1;
      background-color: rgb(3 105 161 / var(--tw-bg-opacity)) !important;
    }
  }
}
